@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  background-color: black;
}

@media screen and (min-width: 1200px) {
  html {
    zoom: 0.9;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 1200px) {
  html {
    zoom: 0.8;
  }
}
